@model IEnumerable<MyAcc.Models.Supplier>



@await Html.Grid(Model).Named("supplierGrid").Columns(columns =>
{
columns.Add(c => c.Name).Sortable(true);
columns.Add(c => c.Email).Sortable(true);
columns.Add(c => c.Phone).Sortable(true);
columns.Add(c => c.Address1).Sortable(true);
columns.Add(c => c.Address2).Sortable(true);
columns.Add(c => c.Town).Sortable(true);
columns.Add(c => c.State).Sortable(true);
columns.Add(c => c.Postcode).Sortable(true);

columns.Add().Titled("Edit")
.Encoded(false)
.Sanitized(false)
.SetWidth(60)
.RenderValueAs(o => @<a onclick="showInPopup('@Url.Action("Upsert", "Supplier", new { id = o.Id }, Context.Request.Scheme)','New Supplier')"><i class="fas fa-pencil-alt"  style="color:orange;"></i></a>);

columns.Add().Titled("Delete")
.Encoded(false)
.Sanitized(false)
.SetWidth(60)
.RenderValueAs(o => @<form asp-action="Delete" asp-route-id="@o.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline"><button type="submit" style="border: none; background: white"><i class="far fa-trash-alt" style="color:red;"></i></button></form>);
}).WithPaging(10).Sortable().RenderAsync()

@*<table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.Phone)</th>
                <th>@Html.DisplayNameFor(model => model.Address1)</th>
                <th>@Html.DisplayNameFor(model => model.Address2)</th>
                <th>@Html.DisplayNameFor(model => model.Town)</th>
                <th>@Html.DisplayNameFor(model => model.State)</th>
                <th>@Html.DisplayNameFor(model => model.Postcode)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                <td>@Html.DisplayFor(modelItem => item.Address1)</td>
                <td>@Html.DisplayFor(modelItem => item.Address2)</td>
                <td>@Html.DisplayFor(modelItem => item.Town)</td>
                <td>@Html.DisplayFor(modelItem => item.State)</td>
                <td>@Html.DisplayFor(modelItem => item.Postcode)</td>
                <td>
                    <a onclick="showInPopup('@Url.Action("Upsert","Supplier",new { id = item.Id },Context.Request.Scheme)','New Supplier')" class="btn btn-warning"><i class="fas fa-pencil-alt"></i> &nbsp; Edit</a>
                    <form asp-action="Delete" asp-route-id="@item.Id" onsubmit="return jQueryAjaxDelete(this);" class="d-inline">
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
    }
        </tbody>
    </table>*@
